.navbar {
  width: 100%;
  background: black;
  color: aquamarine;
  min-height: 80px;
  display: flex;
  align-items: center;
  padding: 20px 40px;
}

.navbar h1 {
  font-size: 30px;
  font-weight: bold;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar > div {
  margin-left: auto;
}

.list-item {
  list-style: none;
}

.list-item li {
  list-style-type: none;
  display: flex;
  gap: 25px;
  font-size: 18px;
  font-weight: bold;
}

.navbar a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: rgb(158, 249, 219);
}
